<!DOCTYPE html>
<html>
  <head>
    <title>EarthFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    
    <script type="text/javascript">
      window.splashBackground = "<%= image_url('netflix-background.jpeg') %>"
    </script>
  </head>

  <body>
    <img src="https://res.cloudinary.com/teepublic/image/private/s--KQBMsQ6B--/t_Preview/b_rgb:262c3a,t_Watermark/c_limit,f_jpg,h_630,q_90,w_630/v1523100433/production/designs/2567082_0.jpg">
    <%= yield %>
  </body>
</html>
