<!DOCTYPE html>
<html>
  <head>
    <title>EarthFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="./favicon.ico" rel="icon" type="image/x-icon" />
    
    <script type="text/javascript">
      window.splashBackground = "<%= image_url('netflix-background.jpg') %>"
      window.earthBg = "<%= image_url('earth_background.jpg') %>"
      window.mainLogo = "<%= image_url('main-logo.png') %>"
      window.play_image = "<%= image_url('play_button.svg') %>"
      window.mute_image = "<%= image_url('mute.svg') %>"
      window.volume_image = "<%= image_url('volume.svg') %>"
      window.left_chevron_image = "<%= image_url('back.svg') %>"
      window.right_chevron_image = "<%= image_url('forward.svg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
