<!DOCTYPE html>
<html>
  <head>
    <title>EarthFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiVxezVpdvjAhWBHzQIHV5OCjgQjRx6BAgBEAU&url=https%3A%2F%2Fwww.teepublic.com%2Ft-shirt%2F2567082-funny-earth-day-2018&psig=AOvVaw3lqSuVhE3XPrq8S4YEn-av&ust=1564529749330776" alt="">
    <%= yield %>
  </body>
</html>
