<!DOCTYPE html>
<html>
  <head>
    <title>EarthFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/721ae8e6bd.js"></script>


    
    <script type="text/javascript">
      window.splashBackground = "<%= image_url('netflix-background.jpg') %>"
      window.mainLogo = "<%= image_url('main-logo.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
